* {
  font-family: "Cairo", sans-serif;
}
p {
  direction: rtl;
  font-weight: bold;
}
span {
  direction: rtl;
}
/* Start CSS First Div */
.edit-img-info h2 {
  font-size: 25px;
  font-weight: bold;
}
.edit-img-info span {
  color: #fd8b25;
  font-size: 18px;
}
.edit-img-info h2 {
  font-weight: bold;
  padding-top: 10px;
}

.edit-img-icon a {
  font-size: 25px;
}
.edit-img-icon {
  padding: 10px 10px;
}
.b-line {
  margin-top: 10px;
}
/* End CSS First Div */

/* Start CSS Second Div */
.edit-about-title p:last-child {
  padding-top: 35px;
}

.edit-about-title p {
  line-height: 2;
  font-size: 20px;
}
/* End CSS Second Div */
.main-header {
  min-height: 700px;
  background-image: url("../src/images/Group\ 33142.png");
  background-repeat: no-repeat;

  background-size: 100% 100%;
}
.edit-header-title {
  line-height: 2;
  color: white;
  padding: 10%;
}
.edit-plan-title {
  z-index: -1;
}
.edit-img-plan img {
  max-width: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.edit-plan-title {
  padding-top: 5%;
  line-height: 1.9;
}
.edit-first-section {
  margin-top: 10%;
}
.edit-success-img img {
  width: 100%;
}
.edit-mian-contant {
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.edit-mian-contant img {
  width: 35px;
}
.edit-mian-contant:hover {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
